<mat-nav-list>
  <a mat-list-item routerLink="/signup" (click)="onClose()" *ngIf="!(isAuth$ | async)">
    <span class="nav-caption padding-left">Signup</span>
  </a>
  <a mat-list-item routerLink="/login" (click)="onClose()" *ngIf="!(isAuth$ | async)">
    <span class="nav-caption padding-left">Login</span>
  </a>

  <mat-list-item (click)="router.navigateByUrl('/');onClose()" *ngIf="isAuth$ | async">
    <button mat-icon-button>
      <mat-icon color="primary">home</mat-icon>
      <span class="nav-caption padding-left">Home</span>
    </button>
  </mat-list-item>
  <mat-list-item (click)="onLogout();onClose()" *ngIf="isAuth$ | async">
    <button mat-icon-button>
      <mat-icon color="primary">eject</mat-icon>
      <span class="nav-caption padding-left">Logout</span>
    </button>
  </mat-list-item>

</mat-nav-list>
